services:
  # Go 웹 애플리케이션
  my-app:
    build: 
      context: ..
      dockerfile: deploy/Dockerfile
    ports:
      - "8080:8080" # Host:container 포트 포워딩
    environment:
      # "localhost"가 아니라 "redis"(서비스 이름)로 접속하라고 알려줌
      - REDIS_ADDR=redis:6379
    depends_on:
      - redis # Redis 컨테이너가 먼저 켜진 후 실행되도록 실행 보장

  redis:
    image: redis:alpine
    container_name: redis-db  # (참고) 호스트네임은 서비스 이름인 'redis'를 씁니다
    ports:
      - "6379:6379"