name: Go-Docker CI/CD

on:
  push:
    branches: [ "master", "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1. 코드 내려받기
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. 도커 허브 로그인 (금고에서 열쇠 꺼내서 씀)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. 도커 빌드 툴 셋팅 (Buildx라고 더 좋은 거 씀)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 4. 빌드하고 바로 푸시 (Build & Push)
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./go-redis-counter
          file: ./go-redis-counter/deploy/Dockerfile
          push: true
          tags: hyxnminp/go-redis-counter:latest