name: GO-DOCKER CI

# [트리거] 언제 이 로봇을 출동시킬까?
# master(또는 main) 브랜치에 코드가 push 되면 실행해라!

on:
  push:
    branches: ["master","main"]
  pull_request:
    branches: ["master","main"]

jobs:
  # [작업 1] 빌드 테스트
  build-docker-image:
    # 우분투 최신 버전 컴퓨터 한 대 빌려줘
    runs-on: ubuntu-latest

    steps:
    # 1. 내 코드(저장소)를 내려받음
      - name: Checkout code
        uses: actions/checkout@v4
      # 2. 도커 빌드가 잘 되는지 테스트 (실행은 안 함)
      # 우리가 로컬에서 쳤던 그 명령어 그대로입니다!
      - name: Build Docker image
        # -f deploy/Dockerfile : 파일 위치 지정
        # . : 소스 위치(Context) 지정
        run: docker build -f deploy/Dockerfile -t my-app:test .